body {
    margin: 0px;
    padding: 0px;
    background-color: #1f1f1f;
}

#portfolio {
	width: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 2% 20px 2%;
}

.p-heading {
	font-size: 1.7rem;
	font-family: calibri;
	color: #fff;
	background-color: #292929;
	padding: 10px 20px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.p-box {
	background-color: #1f1f1f;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
}


.p-container {
	width: 90%;
	height: 70vh;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.text-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-family: sans-serif;
	background-color: rgba(23,209,172,0.89);
	display: none;
}

.text-overlay h1,p {
	color: #fff;
}

.text-overlay h1 {
	font-size: 2.2rem;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px;
}

.text-overlay p {
	font-size: 1.2rem;
	margin: 0px;
}

.p-box:hover .text-overlay {
	display: flex;
	transition: all ease 0.4s;
}


.p-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media all (min-width: 480px) {
	
}